.place__image {
   grid-area: image;
   width: 100%;
   object-fit: contain;
   align-self: start;
   max-width: 460px;
   min-width: 320px;
}

@media screen and (max-width: 1024px) {
   .place__image {
      max-width: 440px;
   }
}

@media screen and (max-width: 900px) {
   .place__image {
      max-width: 340px;
   }
}

@media screen and (max-width: 767px) {
   .place__image {
      max-width: 490px;
   }
}

@media screen and (max-width: 490px) {
   .place__image {
      max-width: 100%;
   }
}