.cover{
   background-image: url('../../images/magistral_background.jpg');
   position: relative;
   max-width: 1184px;
   display: flex;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   margin-top: 92px;
}
@media screen and (max-width: 1024) {
   .cover {
      height: 640px;
   }
 }
@media screen and (max-width: 768) {
   .cover {
      margin-top: 90px;
      height: 480px;
   }
}
 @media screen and (max-width: 766px) {
   .cover {
      margin-top: 66px;
   }
}